.container
   background-color: var(--mf-green)
   overflow: hidden


.text
   color: #fff
   margin-top: -30px
   max-width: 646px

   h1
      font-size: 52px
      line-height: 56px
      font-weight: 700
      margin-bottom: 8px
      display: flex
      flex-direction: column

      @media (max-width: 1200px)
         font-size: 44px
         line-height: 48px


      @media (max-width: 935px)
         font-size: 36px
         line-height: 40px


      @media (max-width: 767px)
         font-size: 30px
         line-height: 36px


   p
      font-size: 15px
      line-height: 24px
      margin-bottom: 25px
      font-weight: 500


.img_container
   align-items: flex-end
   align-self: center
   display: flex
   font-size: 0
   height: 100%
   margin-left: 7%
   position: relative
   white-space: nowrap


.img
   height: 100%


.row
   display: flex
   align-items: center
   justify-content: space-between
   height: 386px


.btn
   width: 200px


.btns
   display: flex
   align-items: center


@media (max-width: 1100px)
   .row
      align-items: normal
      height: 305px


   .text
      margin-top: 42px
      max-width: 416px

      h1
         margin-bottom: 25px


      p
         max-width: none
         font-size: 16px
         line-height: 24px


   .img_container
      align-self: flex-end
      bottom: 0
      height: auto
      justify-content: center
      margin-left: 0
      position: relative
      right: 17px
      width: 50%


   .img
      max-width: 100%


@media (max-width: 767px)
   .text
      margin-bottom: 21px
      margin-top: 0
      width: 100%
      text-align: center
      padding: 0 16px

      h1
         margin-bottom: 15px


      p
         font-size: 15px
         padding: 0 20px
         margin-bottom: 13px


   .row
      flex-wrap: wrap
      height: auto
      margin: 0 -16px
      padding-top: 33px
      justify-content: center


   .img_container
      position: static
      width: 100%
      max-width: 350px


   .img
      max-width: 100%
      padding: 0 9px 0 16px
      width: 100%


   .btns
      justify-content: center


@media (max-width: 350px)
   .btn
      width: 155px


   .text h1
      white-space: normal


