<div class="modal tariff-modal tariff-all" id="tariff-all" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">

   <div class="tariff-modal__btn-close modal-dialog">
      <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"></button>
   </div>

   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content tariff-all">

         <h1 class="tariff-modal__title wrapp">Без переплат. Всё</h1>

<!--         <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"></button>-->

         <div class="tariff-modal__container">

            <ul class="tariff-modal__items">
               <li class="tariff-modal__item item-modal wrapp">
                  <ul class="item-modal__options">
                     {{#each tariffAll}}
                        <li class="item-modal__option option-item">
                           <div class="option-item__text">
                              <p class="option-item__text-name">{{name}}</p>
                              {{#if description}}
                                 <p class="option-item__text-desc">{{description}}</p>
                              {{/if}}
                           </div>
                           <p class="option-item__value">{{value}}</p>
                        </li>
                     {{/each}}
                  </ul>
               </li>
            </ul>


         </div>
      </div>
   </div>
</div>