.aboutSensor {
   .modal-dialog {
      max-width: 844px;
      padding: 0 16px;
   }

   .modal-content {
      padding: 105px 90px;
      flex-direction: row;
   }

   &__img {
      margin: 7px 85px 0 0;
      width: 230px;
      height: 241px;
      text-align: center;

      img {
         max-width: 100%;
         max-height: 100%;
      }
   }

   h2.aboutSensor__title {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 15px;
      max-width: 285px;
   }

   &__desc {
      font-weight: 400;
      margin-bottom: 30px;
      max-width: 305px;
   }

   .item-option {
      .switch {
         margin-right: 18px;
      }

      &__text {
         margin-bottom: 19px;

         span {
            color: var(--mf-green);
         }
      }
   }

   &__switch {
      margin-bottom: 33px;
   }

   &__counter {
      margin-left: 58px;
   }

   label {
      display: inline-flex;
   }

   &__wrapp {
      display: flex;
   }

   @media (max-width: 1100px) and (min-width: 768px) {
      background-color: transparent;

      .modal-dialog {
         margin: 0 auto;
      }

      .modal-content {
         min-height: 0;
         height: auto;
         justify-content: flex-start;
      }

   }

   @media (max-width: 1023px) {
      .modal-content {
         justify-content: flex-start;
         padding: 105px 50px;
      }

      &__img {
         height: 175px;
         margin-right: 50px;
      }
   }

   @media (max-width: 767px) {
      .modal-dialog {
         margin: 54px 0;
         padding: 0;
         align-items: flex-start;
      }

      .modal-content {
         padding: 88px 0;
      }

      &__wrapp {
         display: block;
         max-width: 255px;
         margin: 0 auto;
      }

      h2.aboutSensor__title {
         font-size: 28px;
         line-height: 36px;
         margin-bottom: 14px;
      }

      &__img {
         height: 152px;
         margin: 0 auto 40px !important;
         text-align: center;
      }
   }



}
