<div class="tariff-modal__options-banner banner-androidTV">
   <div class="banner-androidTV__text">
      <p>Возьми в аренду
         <nobr>Android TV</nobr>
         <nobr>и получи</nobr>
         <nobr>год сериалов</nobr>
         <nobr>в подарок</nobr>
      </p>
      <span data-toggle="modal"
         data-target="#performance0"
         onclick="analytics('details_androidtv')"
      >Технические характеристики</span>
   </div>

   <div class="banner-androidTV__img">
      <picture>
         <source srcset="img/pic/androidTV_tariff_1024-375.png" media="(max-width: 1024px)">
         <img src="img/pic/androidTV_tariff_1920.png" alt="androidTV_tariff">
      </picture>
   </div>
</div>