.order-modal {
   &__btn {
      width: 170px;
      justify-content: center;
   }

   .modal-content {
      padding: 81px 125px 73px;

      &__title {
         margin-bottom: 15px;
      }
   }

   .modal-dialog {
      max-width: 812px;
   }

   &__inputs {
      display: flex;
      margin-bottom: 30px;
   }

   &__input {
      margin-right: 20px;

      &-title {
         font-size: 15px;
         font-weight: 500;
         margin-bottom: 10px;
      }

      input {
         width: 230px;
      }
   }

   .order-modal__input_address {
      max-width: 480px;
      margin-bottom: 40px;

      input {
         width: 100%;
      }
   }

   &__select-date {
      margin-bottom: 14px;

      span {
         font-size: 15px;
         font-weight: 400;
         border-bottom: 1px dashed;
         cursor: pointer;

         &:hover {
            border-style: solid;
         }
      }
   }

   .order-opportunity {
      display: none;

      h2 {
         margin-bottom: 14px;
      }

      &__offer {
         display: none;
         margin-top: 50px;
         margin-bottom: -10px;
      }

      .order-modal__inputs {
         margin-bottom: 40px;
         flex-wrap: wrap;

         input {
            width: 480px;
            margin-right: 0;
         }

         label {
            display: none;
         }

         input.valid {
            border: 1px solid var(--mf-green);
            background: url('../../../img/svg/check.svg') calc(100% - 20px) 50% / 15px no-repeat;

            + label {
               display: block;
               color: var(--mf-green);
            }
         }

         input.error {
            border: 1px solid #F62434;
            background: none;

            + label + label {
               display: block;
               color: #F62434;
            }
         }
      }

      #btnFormCheck {
         display: none;
      }
   }

   .order-date {
      display: none;

      .order-modal__input {
         display: flex;
         align-items: center;
      }

      h2 {
         margin-bottom: 5px;
      }

      h2 + p {
         font-size: 15px;
         font-weight: 400;
         margin-bottom: 25px;
      }

      input.datepicker {
         margin-right: 20px;
         font-size: 15px;
         font-weight: 500;
         color: #333333;
         cursor: pointer;
      }

      .tail-select {
         height: 50px;
         font-size: 15px;
         font-weight: 500;
         font-family: 'MegaFon Graphik LC', sans-serif;

         .select-label {
            height: 100%;
            display: flex;
            align-items: center;
            border-radius: 0;
            background: url('../../../img/svg/arrow-select.svg') calc(100% - 20px) 50% / 12px no-repeat;
            border: 1px solid #ddd;

            &:hover {
               border: 1px solid #ddd;
            }

            .label-inner {
               height: 100%;
               line-height: 48px;
               padding: 0 0 0 26px;
            }
         }

         &.active .select-label {
            border: 1px solid #ddd;
            box-shadow: none;
         }

         .dropdown-inner {
            max-height: none !important;
         }

         .select-dropdown {
            margin-top: 10px;
            border-radius: 0;
            box-shadow: none;
         }

         .dropdown-optgroup {
            padding: 0 20px;
         }

         .dropdown-option:first-child:before {
            display: none;
         }

         .dropdown-option:not(:first-child) {
            border-bottom: 1px solid #ddd;
            padding: 10px 0;

            &.selected {
               color: var(--mf-green);
               font-weight: 500;

               &:before {
                  right: 0;
                  left: auto;
                  height: 100%;
                  background: url('../../../img/svg/check.svg') center / 15px no-repeat;
               }
            }

            &:last-child {
               border-bottom: 0;
            }
         }
      }
   }

   .order-thx {
      display: none;
      min-height: auto;
      width: auto;
      margin: 0 auto;
      padding: 70px 114px;
      text-align: center;

      &__title {
         margin-bottom: 3px;
      }

      &__text {
         font-size: 15px;
         font-weight: 400;
      }

   }


   @media (max-width: 1279px) {
      background-color: #fff;

      .modal-content {
         padding: 60px 275px;
         height: 100vh;
         display: flex;
         flex-direction: column;
         justify-content: center;
      }

      .modal-dialog {
         width: 100%;
         height: 100%;
         margin: 0;
         max-width: none;
      }

      &__input {
         width: 50%;

         input {
            width: 100%;
         }

         &:last-child {
            margin-right: 0;
         }
      }

      .order-date {
         .order-modal__input {
            width: 100%;

            input, .tail-select {
               width: 50% !important;
            }
         }
      }

      .order-thx {
         width: 100%;
      }

   }

   @media (max-width: 1023px) {
      .modal-content {
         padding: 60px 122px;
      }

      .modal-dialog {
         width: 100%;
         height: 100%;
         margin: 0;
         max-width: none;
      }

      &__input {
         width: 50%;

         input {
            width: 100%;
         }

         &:last-child {
            margin-right: 0;
         }
      }

      .order-opportunity .order-modal__input {
         width: 100%;

         input {
            width: 100%;
         }
      }

      .order-date {
         .order-modal__input {
            width: 100%;

            input, .tail-select {
               width: 50% !important;
            }
         }
      }

      .order-thx {
         width: 100%;
      }
   }

   @media (max-width: 767px) {

      .modal-content {
         padding: 95px 30px 80px;
      }

      &__inputs {
         flex-wrap: wrap;
      }

      &__input {
         width: 100%;

         input {
            width: 100%;
         }

         &:first-child {
            margin: 0 0 20px;
         }

         &:last-child {
            margin-right: 0;
         }
      }

      .order-opportunity .order-modal__input {
         width: 100%;

         input {
            width: 100%;
         }
      }

      .order-date {
         .order-modal__input {
            width: 100%;
            flex-wrap: wrap;

            input, .tail-select {
               width: 100% !important;
            }

            input {
               margin: 0 0 20px;
            }
         }
      }

      .order-thx {
         width: 100%;
         height: 100vh;
      }

   }

   @media (max-width: 340px) {
      .order-thx h2 {
         font-size: 28px;
      }
   }
}