<section class="app">
   <div class="wrapper">

      <div class="app__container">
         <div class="app__text text-app">

            <h1 class="text-app__title">
               Подключать тариф удобнее <nobr>в приложении</nobr> «МегаФон»
            </h1>

            <p class="text-app__desc">
               Скачай и получи максимум возможностей!
            </p>

            <p class="text-app__text">
               Ещё там можно активировать SIM‑карту или перенести свой номер в МегаФон
            </p>

            <div class="text-app__icons" data-view="block_mobilelk">
               <a onclick="analytics('googleplay_lkmf')" href="https://trk.mail.ru/c/uo37z4" class="google-play"></a>
               <a onclick="analytics('appstore_lkmf')" href="https://trk.mail.ru/c/sa6p65" class="apple-store"></a>
            </div>
         </div>

         <picture class="app__img">
            <source srcset="img/pic/mob_lk_320.png" media="(max-width: 767px)">
            <source srcset="img/pic/mob_lk_768.png" media="(max-width: 1023px)">
            <source srcset="img/pic/mob_lk_1024.png" media="(max-width: 1279px)">
            <img src="img/pic/mob_lk_1280.png" alt="смартфон">
         </picture>
      </div>
   </div>
</section>