.equipments {
   background-color: #EDEDED;
   padding: 71px 0 59px;
   overflow: hidden;

   &__title {
      margin-bottom: 37px;
   }

   .slider {
      margin: 0 -10px;

      &__card {
         &_premium {
            .card__title,
            .info-progress-bar__line_active {
               background-color: #444189;
            }
         }
      }

      .slick-track, .slick-list {
         display: flex;
      }

      .slick-slide > div {
         height: 100%;
         padding: 10px;
      }

      .slick-dots {
         margin-top: 22px;

         li.slick-active {
            width: 8px;
            height: 8px;
         }

         li {
            width: 6px;
            height: 6px;
            margin-right: 8px;

            &:last-child {
               margin-right: 0;
            }
         }
      }

   }

   .equipments-card {
      background: #FFFFFF;
      box-shadow: 0 0 12px rgba(51, 51, 51, .2);
      border-radius: 10px;
      border: 0;
      height: 100%;
      display: flex !important;
      flex-direction: column;
      position: relative;

      &__mark {
         text-transform: uppercase;
         background-color: var(--mf-fiolet);
         position: absolute;
         top: 16px;
         left: 16px;
      }

      .info-card {
         flex-grow: 1;
         padding: 31px 16px 22px;
         border-bottom: 1px solid #EDEDED;

         &__img {
            width: 126px;
            height: 139px;
            font-size: 0;
            white-space: nowrap;
            margin: 0 auto 42px;

            &:before {
               content: '';
               height: 100%;
               vertical-align: middle;
               display: inline-block;
            }

            img {
               max-width: 100%;
               max-height: 100%;
               display: inline-block;
               vertical-align: middle;
            }
         }

         &__title {
            font-size: 20px;
            line-height: 28px;
            font-weight: 500;
            margin-bottom: 12px;
         }

         &__text {
            font-size: 12px;
            line-height: 16px;
         }
      }

      .price-card {
         padding: 23px 16px 21px;
      }

      &__price {
         display: flex;
         flex-direction: column;
         align-items: center;

         .link {
            font-size: 15px;
         }

         .price {
            height: 20px;
            margin-bottom: 7px;

            &__icon {
               flex: 0 0 20px;
               height: 20px;
               display: inline-block;
               background: url('../../img/svg/info.svg') center / 16px no-repeat;
               align-self: center;
               margin-left: 5px;
               cursor: pointer;
               vertical-align: middle;
               transform: translateY(-6px);
            }
         }

      }

   }


   @media (max-width: 1530px) {
      .equipments-card {
         .info-card {
            padding: 31px 16px 10px;
         }
      }
   }

   @media (max-width: 1023px) {
      &__title {
         font-size: 26px;
         line-height: 32px;
         margin-bottom: 40px;
      }

      .slider {
         margin: 0 -48px;

         .slick-list {
            padding-left: 38px;
         }
      }

      .equipments-card {
         width: 268px !important;

         .info-card {
            padding: 31px 16px 22px;
         }

         .price-card {
            &__btn .btn {
               padding: 0 50px;
            }
         }
      }

   }

   @media (max-width: 767px) {
      &__title {
         font-size: 22px;
         line-height: 28px;
         margin-bottom: 23px;
      }

      .slider {
         margin: 0 -48px;

         .slick-list {
            padding-left: 40px;
         }

         .slick-slide > div {
            padding: 8px;
         }
      }

      .equipments-card {
         width: 265px !important;

         .price-card {
            padding: 23px 16px 18px;
         }
      }

   }

}