.tariff-modal {
   font-size: 15px;
   line-height: 20px;
   font-weight: 500;

   ul {
      padding-left: 0;
   }

   &_premium {
      .tariff-modal__title {
         background-color: #444189;
      }
   }

   h2 {
      font-weight: 600;

      @media (max-width: 1023px) {
         font-size: 26px;
      }

      @media (max-width: 767px) {
         font-size: 22px;
      }
   }

   .modal-dialog {
      max-width: calc(820px + 48px * 2);
      padding: 0 48px;
      overflow: visible;
   }

   .modal-body {
      padding: 0;
      overflow: visible;
      background-color: transparent;

      // firefox
      scrollbar-width: 0; /* толщина */

      /* ползунок скроллбара */
      &::-webkit-scrollbar-thumb,
      &::-webkit-scrollbar {
         width: 0;
      }

      > * {
         $br: 10px;
         overflow: hidden;

         &:first-child {
            border-radius: $br $br 0 0;
         }

         &:last-child {
            border-radius: 0 0 $br $br;
         }
      }
   }

   .wrapp {
      padding-left: 78px;
      padding-right: 78px;
   }

   &__title {
      height: 106px;
      background-color: var(--mf-green);
      color: #fff;
      display: flex;
      align-items: center;
      font-weight: 700;
   }

   &__container {
      background-color: #F1F1F1;
   }

   &__items {
      margin-bottom: 0;
   }


   // карточка информации
   .item-modal {
      background-color: #fff;
      margin: 8px 0;
      padding-bottom: 50px;

      &__title {
         font-weight: 600;
         border-bottom: 1px solid #D8D8D8;
         display: flex;
         align-items: center;
         padding-top: 40px;
         padding-bottom: 28px;
         letter-spacing: -0.4px;
      }

      &__title-icon {
         height: 29px;
         width: 30px;
         margin-right: 22px;
         text-align: center;
         font-size: 0;
         white-space: nowrap;

         &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
         }

         img {
            max-height: 100%;
            max-width: 100%;
            vertical-align: middle;
         }
      }

      .option-item {
         display: flex;
         justify-content: space-between;
         padding: 24px 0;
         border-bottom: 1px solid #D8D8D8;

         &__text {
            max-width: 65%;
         }

         &__text-desc {
            margin-top: 9px;
            font-weight: 400;
         }

         &__value {
            font-size: 20px;

            @media (max-width: 1023px) {
               font-size: 15px;
            }
         }

         &__text-name,
         &__text-desc,
         &__value {
            line-height: 24px;
         }

      }

   }


   // дополнительные опции
   &__dop-options {
      padding-top: 48px;
      padding-bottom: 54px;
   }

   &__dop-options-title {
      margin-bottom: 28px;
   }

   &__dop-options-cards {
      margin-bottom: 37px;
   }


   // карточка опции
   .dop-options-card {
      background-color: #fff;
      box-shadow: 0 0 12px #00000033;
      border-radius: 10px;
      padding: 31px;
      display: flex;
      margin-bottom: 20px;

      &:last-child {
         margin-bottom: 0;
      }

      &__img {
         flex: 0 0 84px;
         height: 70px;
         font-size: 0;
         white-space: nowrap;
         margin-right: 30px;
         text-align: center;
         position: relative;

         &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
         }

         img {
            max-width: 100%;
            max-height: 100%;
            vertical-align: middle;
         }
      }

      &__option {
         display: flex;
         flex-direction: column;
         justify-content: center;
         padding-right: 20px;

         p {
            line-height: 20px;
            margin-bottom: 4px;
         }

         h3 {
            display: inline-block;
            color: var(--mf-blue);
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 6px;
            cursor: pointer;

            &:hover {
               text-decoration: underline;
            }
         }

         &_rent {
            flex-direction: column-reverse;

            .dop-options-card__option-radio {
               display: none;
            }

            p, h3 {
               margin-bottom: 0;
            }
         }
      }

      &__option-radio {
         margin-bottom: -16px;
      }

      &__price {
         margin-left: auto;
         display: flex;
         align-items: center;

         label {
            display: flex;
            align-items: center;
         }
      }

      .price {
         display: block;

         &__old {
            color: #7F7F7F;
            font-size: 15px;
            margin-right: 4px;
            position: relative;

            &:before {
               content: '';
               position: absolute;
               left: 0;
               top: 49%;
               height: 2px;
               width: 100%;
               background-color: #ff0000;
            }
         }

         &__current,
         &__current + span {
            font-size: 20px;
            font-weight: 500;
            margin-right: 0;
         }

         &__month {
            font-size: 12px;
            font-weight: 400;
         }

      }

      .switch {
         margin-left: 14px;
         margin-right: 0;
         height: 28px;
         width: 48px;

         span:before {
            height: 26px;
            width: 26px;
            top: calc(50% - 26px / 2);
         }

         & input:checked + span:before {
            left: calc(100% - 26px + 1px);
         }
      }

      &__sim {
         max-width: 330px;
         margin-right: 20px;

         p {
            margin-bottom: 14px;
            margin-top: -2px;
         }

         span {
            color: var(--mf-blue);
            cursor: pointer;

            &:hover {
               text-decoration: underline;
            }
         }

         @media (max-width: 800px) {
            p {
               max-width: 210px;
            }
         }
      }

      &__counter {

      }

      &__mark {
         position: absolute;
         left: 0;
         top: -1px;
         background-color: var(--mf-orange);
         padding: 4px 8px;
      }
   }

   .download-pdf {
      &__text {
         line-height: 1;
         max-width: 256px;
      }
   }

   // footer
   &__footer {
      padding-top: 37px;
      padding-bottom: 30px;
      background-color: #fff;
   }

   &__price {
      margin-bottom: 18px;

      > * {
         vertical-align: middle;
      }
   }

   .price {

      > * {
         margin-right: 4px;
      }

      &__old {
         font-size: 20px;
         line-height: 28px;
         position: relative;

         &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 49%;
            height: 2px;
            width: 100%;
            background-color: #ff0000;
         }
      }

      &__current,
      &__month {
         font-size: 32px;
         line-height: 28px;
         font-weight: 600;
      }

      &__icon {
         width: 24px;
         height: 24px;
         transform: translateY(-2px);
         margin-left: 8px;
      }

      @media (max-width: 1023px) {
         > * {
            margin-right: 2px;
         }

         &__old {
            font-size: 18px;
            line-height: 24px;
         }

         &__current,
         &__month {
            font-size: 26px;
         }

         &__icon {
            width: 16px;
            height: 16px;
            transform: translateY(-1px);
            margin-left: 6px;
         }
      }

      @media (max-width: 767px) {
         &__current,
         &__month {
            font-size: 22px;
         }
      }
   }

   &__price-btn {
      padding: 0 67px;
      margin-bottom: 10px;
   }

   &__price-desc {
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
      padding-left: 5px;
      visibility: hidden;
   }

   &__btn-close {
      position: sticky;
      position: -webkit-sticky;
      z-index: 100;
      top: 0;
      overflow: initial !important;
      pointer-events: auto;
   }

   .modal-close {
      top: 37px;
      right: 72px;
   }


   @media (max-width: 1023px) {
      .wrapp {
         padding-left: 48px;
         padding-right: 48px;
      }

      &__title {
         height: 86px;
      }

      .modal-close {
         top: 27px;
         right: 65px;
      }

      &__price {
         margin-bottom: 12px;
      }

   }

   @media (max-width: 767px) {
      .modal-dialog {
         margin: 54px 0;
      }

      .wrapp {
         padding-left: 16px;
         padding-right: 16px;
      }

      .dop-options-card {
         flex-wrap: wrap;
         padding: 22px 16px;

         &__img, &__option {
            margin-bottom: 30px;
         }

         &__img {
            margin-right: 20px;
         }

         &__option {
            padding-right: 0;
            width: calc(100% - 84px - 20px);
         }

         &__price {
            width: 100%;
            margin-left: 0;

            label {
               width: inherit;
            }

            .switch {
               margin-left: auto;
            }
         }

         &__sim {
            margin-bottom: 30px;

            p {
               max-width: none;
            }
         }
      }

   }

   @media (max-width: 510px) {
      .modal-dialog {
         padding: 0;
      }

      .modal-close {
         right: 16px;
      }
   }
}
