<div class="banner-MFTV banner-MFTV_all">
   <div class="banner-MFTV__MF wrapp">
      <h1 class="banner-MFTV__title">МегаФон ТВ</h1>
      <p class="banner-MFTV__desc">START, Амедиатека, more.tv, Мировое кино</p>
      <div>
         <span class="banner-MFTV__link link"
               data-toggle="modal"
               data-target="#mftv-premium">Подробнее</span>
      </div>
   </div>

   <picture class="banner-MFTV__img">
      <source srcset="img/pic/mob_all.webp" media="(max-width: 767px)">
      <img src="img/pic/1640_all.webp" alt="баннер старт">
   </picture>
</div>