:root {
    --mf-green: #00b956;
    --mf-fiolet: #731982;
    --mf-blue: #34AAF2;
    --mf-red: #EB413C;
    --mf-orange: #EB5A40;
    --mf-orange-light: #FFA717;
    --mf-premium: #444189;
}

.text-green {
    color: var(--mf-green)
}

.text-fiolet {
    color: var(--mf-fiolet)
}

.text-blue {
    color: var(--mf-blue)
}