.mftv {
   &_premium {
      .tariff-modal__title {
         background-color: #444189;
      }
   }

   .item-modal {
      padding: 46px 78px 44px;

      &__logo {
         width: 116px;
         margin-bottom: 33px;
      }

      &__desc {
         line-height: 24px;
         font-weight: 400;
      }
   }

   &__faq {
      padding-top: 55px;
      padding-bottom: 45px;
   }

   &__faq-title {
      margin-bottom: 30px;
   }

   .accordion {
      &__item:first-child {
         border-top: 1px solid #DDDDDD;
      }
   }

   &__faq-btn {
      width: 200px;
      display: block;
      margin: 40px auto 0;
      font-weight: 500;
   }

   @media (max-width: 1023px) {
      .item-modal {
         padding: 52px 48px 44px;
      }
   }

   @media (max-width: 767px) {
      .item-modal {
         padding: 52px 16px 44px;
      }
   }

}