<footer class="footer">
   <div class="wrapper">
      <div class="footer__copyright copyright">
         <div class="copyright__age">6+</div>
         <div class="copyright__text">© 2021 <br> ПАО «Мегафон»</div>
      </div>
      <p class="footer__transfer">
         Услуги предоставляются ООО «Нэт Бай Нэт Холдинг» и ПАО «МегаФон» на территории присутствия операторов при
         наличии технической возможности. Выгода указана для тарифа «Объединяй! Для своих» по сравнению с тарифами
         операторов на аналогичные услуги при раздельном подключении. Подробности на megafon.ru
      </p>
      <p class="footer__policy">
         Продолжая использовать наш сайт, вы даете согласие на обработку файлов Cookies и других пользовательских
         данных, в соответсвии с <a href="https://www.megafon.ru/ad/politika" target="_blank">Политикой конфиденциальности</a>.
      </p>
      <div class="footer__speedtest">
         <img src="img/svg/speedtest-awards.svg" alt="img">
      </div>
   </div>
</footer>