.container
   background-color: #EDEDED
   padding: 72px 0 34px
   overflow: hidden


.title
   margin-bottom: 37px


@media (max-width: 1023px)
   .container
      padding: 78px 0 34px

   .title
      margin-bottom: 40px


@media (max-width: 767px)
   .container
      padding: 56px 0 34px

   .title
      margin-bottom: 25px
