<div class="modal choiceRouter" id="choiceRouter" tabindex="-1">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"></button>

         <div class="choiceRouter__wrapp">
            <h2 class="choiceRouter__title">Какой роутер мне подойдет?</h2>
            <div class="choiceRouter__images">
               <div class="choiceRouter__img">
                  <img src="img/pic/Almond-3_about.png" alt="Almond-3">
                  <p class="choiceRouter__name">Almond 3</p>
               </div>
               <div class="choiceRouter__img">
                  <img src="img/pic/Almond-3S_about.png" alt="Almond-3S">
                  <p class="choiceRouter__name">Almond 3S</p>
               </div>
            </div>
            <p class="choiceRouter__text">
               Роутер Almond 3S имеет встроенный аккумулятор и поддержку SIM-карты. Если связь оборвется — роутер перейдет
               на мобильную сеть LTE. А если начнутся перебои с электричеством, доступ в
               интернет сохранится благодаря
               встроенному аккумулятору.
            </p>
         </div>

      </div>
   </div>
</div>