.choiceRouter {
   .modal-dialog {
      max-width: 812px;
      padding: 0 16px;
      height: auto;
   }

   .modal-content {
      height: auto;
      align-items: center;
      padding: 73px 0 105px;
   }

   &__wrapp {
      width: 100%;
      max-width: 467px;
      margin: 0 auto;
   }

   h2.choiceRouter__title {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 35px;
   }

   &__images {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px;
   }

   &__img {
      img {
         height: 171px;
         margin-bottom: 10px;
      }
   }

   &__name {
      text-align: center;
      font-weight: 700;
   }

   &__text {
      font-weight: 400;
   }

   @media (max-width: 1100px) and (min-width: 768px) {
      background-color: transparent;

      .modal-dialog {
         margin: 0 auto;
      }

      .modal-content {
         min-height: 0;
         height: auto;
      }
   }

   @media (max-width: 767px) {

      &__wrapp {
         max-width: 268px;
      }

      h2.choiceRouter__title {
         font-size: 28px;
         line-height: 36px;
      }

      &__img {
         img {
            height: 98px;
            margin-bottom: 10px;
         }
      }

   }
}