.container
   background-color: #EDEDED
   padding: 71px 0 59px
   overflow: hidden


.title
   @media (max-width: 1023px)
      font-size: 26px
      line-height: 32px

   @media (max-width: 767px)
      font-size: 22px
      line-height: 28px

      
.slider
   position: relative