.nav {
   height: 64px;
   background-color: #fff;

   .wrapper {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      padding: 0 40px;

      @media (max-width: 1279px) {
         padding-left: 32px;
         padding-right: 24px;
      }

      @media (max-width: 1023px) {
         padding: 0 24px;
      }

      @media (max-width: 767px) {
         padding: 0 16px;
      }
   }

   &__logo a {
      display: block;
      width: 178px;
      height: 31px;
      background: url('../../assets/img/svg/mf_logo_full.svg') center / contain no-repeat;
   }

   &__phone {
      margin-left: auto;
      margin-right: 35px;

      a {
         font-size: 18px;
         font-weight: 500;
         color: #333;

         &:hover {
            text-decoration: none;
         }
      }
   }

   &__city {
      display: flex;
      align-items: center;
      height: 100%;
      cursor: pointer;

      span {
         font-size: 12px;
         font-weight: 500;
         color: #7F7F7F;
         position: relative;

         &:after {
            content: url('../../assets/img/svg/location.svg');
            display: inline-block;
            width: 6px;
            margin-left: 2px;
            transform: translateY(-2px);
         }
      }
   }


   @media (max-width: 1614px) {
      &__logo a {
         width: 136px;
      }
   }


   @media (max-width: 1024px) {

      &__phone {
         margin-right: 20px;

         a {
            display: block;
            font-size: 0;
            height: 32px;
            width: 32px;
            background: url('../../assets/img/svg/tel.svg') center / contain no-repeat;
         }
      }
      &__city {
         span {
            font-size: 0;
            height: 32px;
            width: 24px;
            background: url('../../assets/img/svg/geo.svg') center / contain no-repeat;

            &:after {
               display: none;
            }
         }
      }
   }


}