.city-selection {
   .modal-dialog {
      max-width: 1088px;
   }

   .modal-body {
      padding: 60px 115px 60px 138px;
      font-size: 15px;
      line-height: 20px;
      font-weight: 500;
      width: 100%;
      height: 85vh;
      overflow: hidden;
   }

   .header-city {
      padding-bottom: 30px;
      border-bottom: 1px solid #D8D8D8;

      &__title {
         font-size: 18px;
         margin-bottom: 8px;
      }

      input {
         max-width: 480px;
         width: 100%;
         margin-bottom: 21px;
      }

      &__auto {
         font-size: 12px;
         font-weight: 400;

         span {
            color: var(--mf-blue);
            cursor: pointer;
            margin-left: 7px;
            font-weight: 500;

            &:hover {
               text-decoration: underline;
            }
         }
      }
   }

   .city-selection-wrapper {
      overflow: auto;
      padding-right: 15px;
      height: 100%;


      // firefox
      scrollbar-color: #DDDDDD #EDEDED; /* «цвет ползунка» «цвет полосы скроллбара»*/
      scrollbar-width: thin; /* толщина */

      &::-webkit-scrollbar {
         width: 6px; /* ширина для вертикального скролла */
         background-color: #EDEDED;
         margin-right: -15px;
         position: absolute;
         right: 0;
      }

      /* ползунок скроллбара */
      &::-webkit-scrollbar-thumb {
         background-color: #DDDDDD;
         height: 350px;
         width: 6px;
         margin-right: -15px;
      }

      &::-webkit-scrollbar-thumb:hover {
         background-color: #333333;
      }
   }

   .select-region {
      padding: 30px 0 0;
      column-count: 3;

      a {
         display: block;
         font-size: 15px;
         font-weight: 500;
         margin-bottom: 15px;
      }

      &__region-title {
         margin-bottom: 12px;
      }

      &__top,
      &__regions-group {
         margin-bottom: 35px;
      }
   }

   @media (max-width: 1279px) {
      background-color: #fff;

      .modal-dialog {
         height: 100%;
         margin: 0;
         max-width: none;
         width: 100%;
      }

      .modal-body {
         font-size: 15px;
         font-weight: 500;
         height: 100vh;
         max-height: none;
         line-height: 20px;
         padding: 60px 115px 60px 138px;
         width: 100%;
      }
   }

   @media (max-width: 1024px) {
      .modal-body {
         padding: 60px 30px;
      }
   }

   @media (max-width: 767px) {
      .modal-dialog {
         margin-left: 0;
         margin-right: 0;
      }

      .select-region {
         padding: 30px 0 0;
         column-count: 1;
      }

      .header-city__auto span {
         display: block;
         margin-left: 0;
      }

   }
}
